# python仮想環境
.venv

# 設定ファイル
.env

# pythonキャッシュ
__pycache__

# Lambdaのライブラリ圧縮前は不要
lambda-layer-requests/python

# outputフォルダ内のすべてのファイルを無視する
output/*.pptx

# packageフォルダ内のすべてのファイルを無視する
package/*
package_geturl/*

# lambda_generate_package.zipは不要
lambda_generate_package.zip
# lambda-pptx-get_download_url.zipは不要
lambda-pptx-get_download_url.zip